@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-baseText selection:bg-selectionBg;
}

.special-text {
  background: linear-gradient(#4b7fd2 36%, #1a2b38 36%);
  background-clip: text;
  color: transparent;
}
