@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-baseText selection:bg-selectionBg;
}

.special-text {
  background: linear-gradient(#4b7fd2 36%, #1a2b38 36%);
  background-clip: text;
  color: transparent;
}

.view-bot-skew {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.view-top-skew {
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}

.navfade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.navfade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.navfade-exit {
  opacity: 1;
}
.navfade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
